---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Files">
  <Menu />
  <main>
    <h1>Files</h1>
    <p>This is the Files page.</p>
  </main>
</Layout>