---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Links">
  <Menu />
  <main>
    <h1>Links</h1>
    <p>This is the Links page.</p>
  </main>
</Layout>