---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Pathai">
  <Menu />
  <main>
    <h1>Pathai</h1>
    <p>This is the Pathai page.</p>
  </main>
</Layout>