---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Pin">
  <Menu />
  <main>
    <h1>Pin</h1>
    <p>This is the Pin page.</p>
  </main>
</Layout>