---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Posts">
  <Menu />
  <main>
    <h1>Posts</h1>
    <p>This is the Posts page.</p>
  </main>
</Layout>