---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="products">
  <Menu />
  <main>
    <h1 class="headline-large">products</h1>
    <p>This is the Products page.</p>
  </main>
</Layout>