---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Products">
  <Menu />
  <main>
    <h1>Products</h1>
    <p>This is the Products page.</p>
  </main>
</Layout>