---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Reports">
  <Menu />
  <main>
    <h1>Reports</h1>
    <p>This is the Reports page.</p>
  </main>
</Layout>