---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Settings">
  <Menu />
  <main>
    <h1>Settings</h1>
    <p>This is the Settings page.</p>
  </main>
</Layout>